.head{
    width:100%;
    margin-left: auto;
    margin-right: auto;
}
.title
{
    color: red;
    font-family: unset;
    font-style: italic;
    font-variant: small-caps;
    font-weight: bolder;
    font-size: 50;
    position: absolute;
    display: inline-block;
    margin-left: 40px;
}
.head-bar
{
    border-bottom: 5px solid;
    border-bottom-style: ridge;
    color: #f5f0f066;
    padding-bottom: 7px;
}
.menu
{
    width: 60%;
    display: inline-block;
}
.menu ul{}
    .menu ul li {
        display: inline-block;
        
    }
    .menu ul li a{
        padding: 15px;
        color: black;
        text-decoration: none;
    }
.dog{
    width: 560px;
    position: relative;
    height:378px;
    margin-left: auto;
    margin-right: auto;
    float: left;
    padding:20px;
}
.top-news{
    width: 480px;
    position: relative;
    float: right;
    height: 378px;
    margin-top:-45;
    padding:20px;
}
/*p:after{
    
        content:"";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 0.5em;
        border-top: 1px solid black;
        z-index: -1;
    
}*/
/*table.tab{
    position: relative;
    margin-left: auto;
}*/

table.tab {
    width:700px;
    position: relative;
    border-collapse: collapse;
}
table.tab th{
    width:700px;
    padding: 15px;
    text-align:left;    position: relative;
    }
table.tab td{
    width:700px;    
    padding: 15px;
    text-align:left;
    position: relative;
    margin-left: auto;
}


/*table.tab,th,td{
    padding: 15px;
    text-align:left;
}*/
table.tab th{
    background-color: darkgray;
}

  .weather{
      padding: 10px;
      position: relative;
      
  }  
.temp{
    width: 100px;
    position: relative;
    float: left;
    height: auto;
    margin-top:-105;
    margin-left: 210px;
}
.weather-tab
{
    padding: 10px;
    position: relative;
}
.weather-tab th
{
    padding: 10px;    
    position: relative;

}
.weather-tab td
{
    padding: 1px;
    position: relative;

}
p{
    padding: 20px;
    
}
p::before{
    content: "<<";
}


        

    

